
.card-hover {
    transition: .5s;
    cursor: pointer;
}

.card-hover:hover {
    transform: scale(1.03);
}
.btn:hover {
    background-color: blue;
    border-color: gray;
    box-shadow: 1px 1px 10px blue;
}

.btn:active {
    background-color: red;
    border-color: gray;
    box-shadow: 1px 1px 10px red;
}